<!-- home/section.html -->

{% extends 'base.html' %}

{% block content %}



<div class="swiper-container">
    <div class="swiper-wrapper">

        {% for section in section_data %}
        <div class="swiper-slide">
            
    <div  class="into-data section-h" style="border:1px solid black" id="section-content">
        <h2>{{ section_title }}</h2>
        {% if section_title == 'tutor' %}
            <a href="{{ url_for('Home.course_catalog') }}">Course Catalog</a>
            <a href="{{ url_for('Home.user_reports') }}">User Reports</a>
        {% elif section_title == 'quran' %}
            <!-- Content for Quran section -->
        {% endif %}
    </div>
            </div>
        </div>
        {% endfor %}

    </div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        slidesPerView: 1,
        spaceBetween: 30,
        mousewheel: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        loop:true,
    });
</script>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
